In [1]:
#Importing required database 
import sqlalchemy 

engine=sqlalchemy.create_engine("mysql://root:yash@localhost/EY") #Establishing the connections to database through alchemy engine

print(engine)

Engine(mysql://root:***@localhost/EY)

In [43]:
import pandas as pd
# Define filepath
filepath = 'PBI_Restaurant_in_India.xlsx'

# Load Excel file using Pandas with `sheet_name=None` and internally uses openxl
xls = pd.ExcelFile(filepath,engine='openpyxl')
Restaurant_DF= pd.read_excel(xls, sheet_name='Restaurant',keep_default_na=0)
Location_DF= pd.read_excel(xls, sheet_name='Location',keep_default_na=0)
Factors_DF= pd.read_excel(xls, sheet_name='Factors',dtype=str,keep_default_na=0)

In [9]:
#Dumping the Restaurant table to staging mode 
Restaurant_DF.to_sql('restaurant_staging', con=engine, if_exists ='replace', index=False)

211944

In [8]:
#Dumping the Locations table to staging mode 
Location_DF.to_sql('location_staging', con=engine, if_exists ='replace', index=False)

211944

In [11]:
#Dumping the Locations table to staging mode 
Factors_DF.to_sql('factors_staging', con=engine, if_exists ='replace', index=False)

211944

In [164]:
Restaurant_DF.head()

,Res_Id,Rest_Name,Type,Cuisines,Timing,Services
0,3400299,Farsanwala,['Quick Bites'],"North Indian, South Indian, Mithai, Street Foo...",8:30am â€“ 10:30pm (Mon-Sun),"['Lunch', 'Takeaway Available', 'Credit Card',..."
1,3400005,Murgi and Franky House,['Quick Bites'],"North Indian, Mughlai, Rolls, Chinese, Fast Fo...","12:30PM to 12Midnight (Mon, Wed, Thu, Fri, Sat...","['Delivery', 'No Alcohol Available', 'Dinner',..."
2,3401013,Halwai ka khajana,['Quick Bites'],"Fast Food, Mithai",9:30 AM to 11 PM,"['No Alcohol Available', 'Dinner', 'Takeaway A..."
3,3400290,Halwai ka khajana,['Quick Bites'],"Desserts, Bakery, Fast Food, South Indian",8am â€“ 11pm (Mon-Sun),"['Takeaway Available', 'Credit Card', 'Lunch',..."
4,3401744,Opal Kitchen Cafe and Bar,['Casual Dining'],"North Indian, Continental, Italian",11:30 AM to 11:30 PM,"['Lunch', 'Serves Alcohol', 'Cash', 'Credit Ca..."

In [165]:
#checking the data types
Restaurant_DF.dtypes

Res_Id        int64
Rest_Name    object
Type         object
Cuisines     object
Timing       object
Services     object
dtype: object

In [168]:
#checking the null values
Restaurant_DF.isna().sum()

Res_Id       0
Rest_Name    0
Type         0
Cuisines     0
Timing       0
Services     0
dtype: int64

In [163]:
#########Staring with tables Facotrs

#overview of Factors_staging tables
Factors_DF.head(20)

,Res_Id,Rest_Name,Average_Cost_Two,Price_Range,Aggregate_Rating,Rating_Text,Votes,Photo_Count,Outdoor_Dining,Delivery,Takeaway
0,3400299,Farsanwala,700,2,4.4,Very Good,814,154,0,0,1
1,3400005,Murgi and Franky House,600,2,4.4,Very Good,1203,161,0,1,1
2,3401013,Halwai ka khajana,300,1,4.2,Very Good,801,107,1,1,1
3,3400290,Halwai ka khajana,300,1,4.3,Very Good,693,157,0,1,1
4,3401744,Opal Kitchen Cafe and Bar,1000,3,4.9,Excellent,470,291,1,0,0
5,3400275,Mams Pizza,400,2,4,Very Good,707,62,0,1,1
6,3400296,Ammus Restaurant,500,2,4.2,Very Good,647,46,0,1,1
7,3400368,Mams Pizza,400,2,3.8,Good,617,18,0,1,1
8,3401284,Cream & Company,500,2,3.4,Average,322,14,0,0,1
9,3400838,Cafe Indian,1000,3,4.4,Very Good,289,324,1,1,1
10,3400868,Desi Mirchi,1200,3,4.4,Very Good,683,229,0,1,1
11,3400425,Farsanwala,700,2,4.4,Very Good,523,162,0,1,1
12,3400105,Papa Jones Pizzeria,700,2,4.1,Very Good,626,99,1,1,1
13,3400457,Yadav Dhaba Purana,300,1,4.1,Very Good,361,9,0,0,1
14,3400282,Maharashtrachi Spice,700,2,4.1,Very Good,474,52,0,1,1
15,3400611,Mams Pizza,400,2,3.5,Good,490,17,0,1,1
16,3400017,Spice of Inda,1600,4,4.6,Excellent,915,105,0,1,1
17,3400279,Burger House,500,2,4.3,Very Good,837,45,0,0,1
18,3400010,Krishna Sweets and Dining,400,2,4.1,Very Good,362,86,1,1,1
19,3400712,Refresh and Fresh,300,1,4.4,Very Good,490,77,0,1,1

In [46]:
#checking the data types
Factors_DF.dtypes

Res_Id              object
Rest_Name           object
Average_Cost_Two    object
Price_Range         object
Aggregate_Rating    object
Rating_Text         object
Votes               object
Photo_Count         object
Outdoor_Dining      object
Delivery            object
Takeaway            object
dtype: object

In [68]:
#Taking the insights of factors tables
Factors_DF.describe()

,Res_Id,Rest_Name,Average_Cost_Two,Price_Range,Aggregate_Rating,Rating_Text,Votes,Photo_Count,Outdoor_Dining,Delivery,Takeaway
count,211944,211944,211944,211944,211944,211944,211944,211944,211944,211944,211944
unique,55568,41097,145,4,33,39,2644,2514,2,2,2
top,18631911,Mams Pizza,300,1,0,Very Good,0,0,0,0,1
freq,169,3108,22764,85831,23478,65451,12460,25793,211507,115109,180942

In [72]:
Factors_DF.isna().sum()

Res_Id              0
Rest_Name           0
Average_Cost_Two    0
Price_Range         0
Aggregate_Rating    0
Rating_Text         0
Votes               0
Photo_Count         0
Outdoor_Dining      0
Delivery            0
Takeaway            0
dtype: int64

In [176]:
#Taking the insights of location tables
Location_DF.head(20)

,Res_Id,Rest_Name,Address,City - CityID,Region,Latitude,Longitude,PinCode,Region_Verbose
0,3400299,Farsanwala,"Kalyani Point, Near Tulsi Cinema, Bypass Road,...",Agra-34,Khandari,27.211450,78.002381,,"Khandari, Agra"
1,3400005,Murgi and Franky House,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra-34,Agra Cantt,27.160569,78.011583,282001,"Agra Cantt, Agra"
2,3401013,Halwai ka khajana,"62/1, Near Easy Day, West Shivaji Nagar, Goalp...",Agra-34,Shahganj,27.182938,77.979684,282010,"Shahganj, Agra"
3,3400290,Halwai ka khajana,"Near Anjana Cinema, Nehru Nagar, Civil Lines, ...",Agra-34,Civil Lines,27.205668,78.004799,282002,"Civil Lines, Agra"
4,3401744,Opal Kitchen Cafe and Bar,"1C,3rd Floor, Fatehabad Road, Tajganj, Agra",Agra-34,Tajganj,27.157709,78.052421,,"Tajganj, Agra"
5,3400275,Mams Pizza,"114/23 G, Deep Shikha Complex, Sanjay Place, C...",Agra-34,Civil Lines,27.201516,78.007556,,"Civil Lines, Agra"
6,3400296,Ammus Restaurant,"Opposite Soami Bagh Temple, Dayal Bagh, Agra",Agra-34,Dayal Bagh,27.222175,78.010174,282005,"Dayal Bagh, Agra"
7,3400368,Mams Pizza,"Plot C-1/6, Sector 13, Sikandra, Agra",Agra-34,Sikandra,27.203930,77.954260,,"Sikandra, Agra"
8,3401284,Cream & Company,"23/301, Wazirpura Rd, Judge Compound Chowraha,...",Agra-34,Civil Lines,27.204148,78.009025,,"Civil Lines, Agra"
9,3400838,Cafe Indian,"1374 K/1375 K, Ground floor, Dinesh Nagar, Fat...",Agra-34,Tajganj,27.158243,78.045591,282001,"Tajganj, Agra"
10,3400868,Desi Mirchi,"6/27/1A, Hotel Alleviate, Yamuna Kinara Road, ...",Agra-34,Civil Lines,27.190041,78.024693,282002,"Civil Lines, Agra"
11,3400425,Farsanwala,"Opposite ITC Mughal, Fatehbad Road, Tajganj, Agra",Agra-34,Tajganj,27.158549,78.045227,282001,"Tajganj, Agra"
12,3400105,Papa Jones Pizzeria,"8, Handicraft Nagar, Fatehabad Road, Tajganj, ...",Agra-34,Tajganj,27.161372,78.034900,,"Tajganj, Agra"
13,3400457,Yadav Dhaba Purana,"1/48, Delhi Gate, Station Road, Raja Mandi, Ci...",Agra-34,Civil Lines,27.195836,77.998213,,"Civil Lines, Agra"
14,3400282,Maharashtrachi Spice,"26/118, Opposite Income Tax Building, Sanjay P...",Agra-34,Civil Lines,27.199606,78.004528,,"Civil Lines, Agra"
15,3400611,Mams Pizza,"Ground & First Floor, City Mall, Balkeshwar Co...",Agra-34,Kamla Nagar,27.212943,78.026549,,"Kamla Nagar, Agra"
16,3400017,Spice of Inda,"23/453, Opposite Sanjay Cinema, Wazipura Road,...",Agra-34,Civil Lines,27.201735,78.007625,,"Civil Lines, Agra"
17,3400279,Burger House,"4-5, Ashok Cosmos Mall, Sanjay Place, Civil Li...",Agra-34,Civil Lines,27.201366,78.008746,,"Civil Lines, Agra"
18,3400010,Krishna Sweets and Dining,"Crystal Tower, Fatehabad Road, Tajganj, Agra",Agra-34,Tajganj,27.162010,78.037996,,"Tajganj, Agra"
19,3400712,Refresh and Fresh,Delhi Gate Rd,Agra-34,Civil Lines,27.197103,77.998170,282002,"Civil Lines, Agra"

In [115]:

Location_DF.describe()

             Res_Id       Latitude      Longitude
count  2.119440e+05  211944.000000  211944.000000
mean   1.349411e+07      21.499758      77.615276
std    7.883722e+06      22.781331       7.500104
min    5.000000e+01       0.000000       0.000000
25%    3.301027e+06      15.496071      74.877961
50%    1.869573e+07      22.514494      77.425971
75%    1.881297e+07      26.841667      80.219323
max    1.915979e+07   10000.000000      91.832769

In [123]:
Location_DF.isnull().sum()

Res_Id            0
Rest_Name         0
Address           0
City - CityID     0
Region            0
Latitude          0
Longitude         0
PinCode           0
Region_Verbose    0
dtype: int64

In [137]:
val=Location_DF.loc[0:1,"PinCode"].isna()
val

0    False
1    False
Name: PinCode, dtype: bool

In [121]:
Location_DF.dtypes

Res_Id              int64
Rest_Name          object
Address            object
City - CityID      object
Region             object
Latitude          float64
Longitude         float64
PinCode            object
Region_Verbose     object
dtype: object

In [13]:
#cited:  https://stackoverflow.com/questions/17942508/sql-split-values-to-multiple-rows        
#############No execution this block
#creating  the split_values and convert into rows
'''
query=""" 
select
  ser.res_id,
  SUBSTRING_INDEX(SUBSTRING_INDEX(ser.service, ',', number.n), ',', -1) service
from
  number inner join ser
  on CHAR_LENGTH(ser.service)
     -CHAR_LENGTH(REPLACE(ser.service, ',', ''))>=number.n-1
order by
  res_id, n          

"""
engine.execute(query)*/'''

'\nquery=""" \nselect\n  ser.res_id,\n  SUBSTRING_INDEX(SUBSTRING_INDEX(ser.service, \',\', number.n), \',\', -1) service\nfrom\n  number inner join ser\n  on CHAR_LENGTH(ser.service)\n     -CHAR_LENGTH(REPLACE(ser.service, \',\', \'\'))>=number.n-1\norder by\n  res_id, n          \n\n"""\nengine.execute(query)*/'

In [151]:
#creating  the services tables seperate for views
query=""" 
DROP  TABLE if exists services;
CREATE TABLE services (

res_id              int unsigned not null,
res_name             varchar(255) not null,
services             varchar(255) not null
)

    

"""
engine.execute(query)

In [18]:
#cited:  https://stackoverflow.com/questions/17942508/sql-split-values-to-multiple-rows 
#creating  the split_values and convert into rows for service table
query=""" 
insert into services select
  distinct restaurant_staging.res_id,restaurant_staging.rest_name,
  SUBSTRING_INDEX(SUBSTRING_INDEX(restaurant_staging.services, ',', number.n), ',', -1) service
from
  number inner join restaurant_staging
  on CHAR_LENGTH(restaurant_staging.services)
     -CHAR_LENGTH(REPLACE(restaurant_staging.services, ',', ''))>=number.n-1
order by
  restaurant_staging.res_id, n          

"""
engine.execute(query)

In [19]:
query=""" 
update services
set services=trim(replace(replace(replace(services,'[',''),']',''),"'",''));

"""
engine.execute(query)

In [15]:
#creating  the services tables seperate for views
query=""" 
DROP  TABLE if exists payment;
CREATE TABLE payment (

res_id              int unsigned not null,
res_name             varchar(255) not null,
payment_mode             varchar(255) not null
)

    

"""
engine.execute(query)

In [159]:
#creating  the cuisine tables seperately for views
query=""" 
DROP  TABLE if exists cuisines;
CREATE TABLE cuisines (

res_id              int unsigned not null,
res_name             varchar(255) not null,
cuisines             varchar(255) not null
)

    

"""
engine.execute(query)

In [22]:
#creating  the split_values and convert into rows for cuisine table
query=""" 
insert into cuisines select
  distinct restaurant_staging.res_id,restaurant_staging.rest_name,
  SUBSTRING_INDEX(SUBSTRING_INDEX(restaurant_staging.cuisines, ',', number.n), ',', -1) cuisine
from
  number inner join restaurant_staging
  on CHAR_LENGTH(restaurant_staging.cuisines)
     -CHAR_LENGTH(REPLACE(restaurant_staging.cuisines, ',', ''))>=number.n-1
order by
  restaurant_staging.res_id, n          

"""
engine.execute(query)

In [23]:
#update the table to clean the data
query=""" 
update cuisines
set cuisines=trim(replace(replace(cuisines,'[',''),']',''));

"""
engine.execute(query)

In [4]:
#creating  the timing table form res_staging
query=""" 
DROP  TABLE if exists timing;
CREATE TABLE timing (

res_id              int unsigned not null unique,
res_name             varchar(255) not null,
time                 varchar(512)

);
"""
engine.execute(query)

In [30]:
#https://stackoverflow.com/questions/48173203/replacing-column-value-which-has-special-characters
#update  the timing
#insert into timing select distinct res_id,rest_name,timing from restaurant_staging;
query=""" 
update  timing   
set time=replace(replace(lower(time),'noon','am'),'midnight','pm');
"""
engine.execute(query)

In [2]:
query=""" 
update  timing   
set time=regexp_replace(time,'â€“',"-");
"""
engine.execute(query)

In [4]:
query=""" 
update  timing   
set time=trim(regexp_replace(time,'to',"-"));
"""
engine.execute(query)

In [5]:
query=""" 
update  timing   
set time=trim(regexp_replace(time,'24 hours',"12am-11:59pm"));
"""
engine.execute(query)

In [7]:
#creating  the main/Target tables for  restaurent
query=""" 
DROP  TABLE if exists restaurant;
CREATE TABLE restaurant (

res_id              int unsigned not null ,
res_name             varchar(255) not null,
type     varchar(255)
);


"""
engine.execute(query)

In [185]:
#creating  the main/Target tables for  factors
query=""" 
DROP  TABLE if exists factors;
CREATE TABLE factors (

res_id              int unsigned not null ,
res_name             varchar(255) not null,
average_cost_two    varchar(255),
Price_Range         float,
Aggregate_Rating    float,
Rating_Text         varchar(30),
Votes               int,
Photo_Count         int,
Outdoor_Dining      int,
Delivery            int,
Takeaway            int
);
"""
engine.execute(query)

In [184]:
#creating  the main/Target tables for  location
query=""" 
DROP  TABLE if exists locations;
CREATE TABLE locations (

res_id              int unsigned not null unique,
res_name             varchar(255) not null,
Address            varchar(255),
City             varchar(255),
CityID             int unsigned,
Region             varchar(255),
Latitude          float,
Longitude         float,
PinCode           varchar(255)

);
"""
engine.execute(query)